<div class="page-header">
  <h1>
    Payment Status

    <a href="/payment_statuses/new" class="btn btn-lg btn-success">New Status</a>

  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>

        <th>Active</th>

        <th>Status name</th>

        <th>Actions</th>
      </tr>

      <% @payment_statuses.each do |payment_status| %>
      <tr>

        <td>
          <% if payment_status.active %>
          <i class="fa fa-check-square fa-2x" color="green"></i>
          <% else %>
          <i class="fa fa-ban fa-2x" color="red"></i>
          <% end %>
        </td>


        <td><%= payment_status.status_name %></td>

        <td>

          <a href="/payment_statuses/<%= payment_status.id %>/edit" class="btn btn-warning">Edit</a>

          <% if payment_status.active %>
          <a href="/deactivate_payment_status/<%= payment_status.id %>" class="btn btn-danger" rel="nofollow">Deactivate</a>
          <% else %>
          <a href="/activate_payment_status/<%= payment_status.id %>" class="btn btn-success" rel="nofollow">Activate</a>

          <% end %>

        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
