<!-- Validation failure messages -->
<% if @data_status.errors.any? %>
  <% @data_status.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>



<div class= "container">
  <div class="page-header col-md-10 col-md-offset-1">
    <h4>Update Data Status</h4>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Upload File</h3><a href="/test_upload.csv" target="_blank">Download example file format</a>
        </div>

        <div class="panel-body">

          <%= form_tag"/import_data", multipart: true, :class => 'form-group' do %>
          <div class="col-md-4">
            <span class="btn btn-warning btn-file btn-block">Select File<%= file_field_tag :file %></span>
          </div>
          <div class="col-md-4">
            <%= button_tag(type: 'submit', class: "btn btn-large btn-search btn-primary btn-block") do %>
            <i class="icon icon-search"></i> Import
          </div>
          <% end %>
          <div class="col-md-4">
            <a href="/client_informations" class="btn btn-large btn-info btn-block">Back</a>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
