<!-- Validation failure messages -->
<% if @data_status.errors.any? %>
  <% @data_status.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Data Status</h3>
</div>

<div class="row">
  <div class="col-md-12">


    <%= form_tag "/import_data", multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import" %>
    <% end %>

  </div>
</div>
